@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

@font-face {
  font-family: 'Self Modern';
  src:
    url('bretagne_self-modern_text_web.woff2') format('woff2'),
    url('bretagne_self-modern_text_web.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  color: black;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

main {
  position: fixed;
  width: 50%;
  min-height: 100%;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

main div {
  width: 100%;
  max-width: 700px;
  margin-bottom: 2em;
}

main div:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid;
  margin: 0;
  padding: 6px 0px;
  transition: .15s ease-in-out;
  transition-property: padding-left, padding-right, background-color;
  cursor: pointer;
}

nav a:hover,
nav a.selected {
  padding-left: 8px;
}

nav a:last-of-type {
  border-bottom: 1px solid;
}

nav a:hover:nth-child(odd),
nav a.selected:nth-child(odd),
.project:nth-child(even) img {
  background-color: #D5D5DF;
}

nav a:hover:nth-child(even),
nav a.selected:nth-child(even),
.project:nth-child(odd) img {
  background-color: #B8C1B0;
}

/*
nav a.lanprop:hover,
nav a.lanprop.selected,
.project#lanprop img {
  background-color: pink;
}

nav a.bravo:hover,
nav a.bravo.selected,
.project#bravo img {
  background-color: blue;
}

nav a.upstage:hover,
nav a.upstage.selected,
.project#upstage img {
  background-color: green;
}

nav a.switzer:hover,
nav a.switzer.selected,
.project#switzer img {
  background-color: red;
}

nav a.rlg:hover,
nav a.rlg.selected,
.project#rlg img {
  background-color: yellow;
}
*/

aside {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px 40px;
  margin: 0;
}

aside section {
  padding: 20px 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

aside section:first-of-type {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside section:first-of-type img {
  height: 640px;
  max-height: 90vh;
  width: auto;
  object-fit: cover;
  padding: 0;
  margin: 0;
  background-image: url(/images/sutro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

aside section:last-of-type {
  padding-bottom: 20px;
}

aside section span {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 4px;
}

aside section#switzer span small:after,
aside section#upstage span small:after {
  content: '[under development]';
  font-size: 10.88px;
  padding-left: .75em;
  color: #B8B8B8;
}

aside section div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 800px;
}

img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  min-height: 400px;
  height: min(56vh, 780px);
  padding-top: min(8.5vmin, 80px);
  padding-bottom: min(8.5vmin, 80px);
  padding-left: 40px;
  padding-right: 40px;
  filter: grayscale(1) brightness(.35);
  transition: filter 1.2s;
}

img.animate {
  filter: grayscale(0) brightness(1);
}

::selection {
  background: #E7FB47;
  background-color: black;
  color: white;
}

h1,
h2,
p,
a {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
  text-align: justify;
  font-size: 17px;

  font-family: 'DM Sans', sans-serif;
  font-family: 'Self Modern', serif;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 21.25px;
  letter-spacing: .022em;
  line-height: .8;
  margin-bottom: .6em;
}

nav a * {
  overflow-x: hidden;
  white-space: nowrap;
}

small {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 13.6px;
  letter-spacing: .022em;
}

p {
  margin-bottom: 0;
  padding-bottom: 0;
}

p a {
  text-decoration: underline;
}

@media all and (max-width: 1140px) {
  main {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  main div {
    margin-bottom: 20px;
    max-width: 100%;
  }

  main div:last-of-type {
    padding-bottom: 0px;
  }

  nav a:hover,
  nav a.selected {
    background-color: transparent;
    border-color: black;
    padding-left: 0px;
  }

  aside {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    float: none;
  }

  aside section:first-of-type {
    display: none;
  }

  aside section span {
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 4px;
  }

  aside section span:first-of-type {
    margin-top: 6px;
  }

  aside section span a {
    padding-left: 0;
  }

  aside section div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }

  p {
    text-align: justify;
    max-width: 100%;
  }

  h1 {
    margin-bottom: 4px;
    text-align: left;
  }

}

@media all and (max-width: 600px) {
  html {
    background-color: #F9F9F9;
  }

  main div.selected-projects {
    display: none;
  }

  aside section {
    padding: 0 0 20px 0;
  }

  aside section:first-of-type img {
    display: none;
  }

  aside section div img:nth-child(n+2) {
    display: none;
  }

  aside section span h1 {
    display: none;
  }

  aside section span a {
    padding: 0 8px;
  }

  aside section#switzer span small:after,
  aside section#upstage span small:after {
    font-size: 10.4px;
  }

  aside section span:after,
  aside section span:before {
    content: '';
    line-height: 0;
    margin-top: -4px;
    padding-bottom: 2px;
    border-top: 1px dotted;
    flex-grow: 1;
  }

  h1,
  h2,
  p,
  a {
    font-size: 13px;
  }

  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16.25px;
    margin-bottom: .25em;
    letter-spacing: .022em;
  }

  small {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 10.4px;
    letter-spacing: .022em;
  }

  p {
    margin-bottom: 12px;
  }

  p a {
    text-decoration: underline;
  }
}

@media all and (max-height: 620px), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    height: 100vh;
  }

  main {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    padding: 20px;
  }

  main div.selected-projects {
    display: none;
  }

  aside {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #28272B;
  }

  * {
    color: #B3C4DE;
    color: #E8EBF1;
  }

  ::selection {
    color: black;
    background: #B3C4DE;
  }

  img {
    background-color: #B3C4DE;
  }
}
