@font-face {
  font-family: 'Work Sans';
  src: url('/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: url(images/cursor.svg), auto;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  line-height: 1.25;
}

body {
  padding: 5rem 1rem 2rem 1rem;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 32rem;
  margin-bottom: 2rem;
}

main p {
  margin: 1.5rem 0 1.25rem 0;
}

ul {
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul li {
  display: inline-flex;
  align-items: center;
  padding: 0 .21rem .42rem .21rem;
}

ul li a {
  white-space: nowrap;
  border: 1px solid;
  padding: .18rem .3rem .16rem .3rem;
  border-radius: .2rem;
  cursor: url(images/cursor.svg), auto;
}

li:hover,
li:hover a {
  color: blue;
}

aside {
  height: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .15s background-color ease-in-out;
  border: 1px dashed transparent;
}

aside img {
  height: 100%;
  width: auto;
  max-width: 100%;
  padding: 2rem;
  background-origin: content-box;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  visibility: hidden;
}

aside.hover img {
  background-color: lightgray;
}

::selection {
  background: #E5E5E5;
}

h1,
p {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 1.563rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 375;
  text-transform: uppercase;
  letter-spacing: -.054rem;
}

p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 350;
}

ul li a {
  font-size: .64rem;
  letter-spacing: .005rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media all and (max-height: 46rem) {
  body {
    flex-direction: row;
    justify-content: center;
    padding: 4rem 2rem;
  }

  main {
    margin-right: 4rem;
  }

  aside {
    height: 100%;
    max-width: 60rem;
  }
}

@media all and (max-height: 46rem) and (max-width: 55rem), (max-height: 30rem), (max-width: 40rem) {
  html {
    align-items: flex-start;
  }

  body {
    justify-content: flex-start;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  ul {
    justify-content: flex-start;
  }

  ul li {
    padding: 0 .42rem .42rem 0;
  }

  h1 {
    text-align: left;
  }

  p {
    text-align-last: left;
  }

  main:after {
    content: "© 2021";
    font-size: .7rem;
    font-weight: 300;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  aside {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #212121;
  }

  * {
    color: #E4E4E4;
  }

  ::selection {
    background: #2F2F2F;
  }

  li:hover a {
    background-color: lightgray;
  }

  aside.hover {
    background-color: #2F2F2F;
  }
}
